@font-face {
  src: url('../fonts/Vazir.woff') format('woff');
  font-family: Vazir;
  font-weight: normal;
}

@font-face {
  src: url('../fonts/Vazir-Bold.woff') format('woff');
  font-family: VazirBold;
}

@font-face {
  src: url('../fonts/Vazir-Light.woff') format('woff');
  font-family: VazirLight;
}

@font-face {
  src: url('../fonts/Vazir-Medium.woff') format('woff');
  font-family: VazirMedium;
}

@font-face {
  src: url('../fonts/Vazir-Medium-FD-WOL.woff') format('woff');
  font-family: VazirMediumDigit;
}

@font-face {
  src: url('../fonts/Vazir-Thin-FD-WOL.woff') format('woff');
  font-family: VazirThinDigit;
}
